data-pipelines/Youtube_videos_processor.json
{"flowContents":{"identifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf","instanceIdentifier":"0ce452f0-0197-1000-6a66-4885882163e0","name":"Youtube_videos_processor","comments":"","position":{"x":1552.0,"y":248.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8d14ec05-73bd-31d9-b25e-5ce69f1bc7d4","instanceIdentifier":"16ff4f9c-0197-1000-62bf-1a0d341df3c0","name":"ExecuteSQL","comments":"","position":{"x":-1696.0,"y":2560.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"INSERT INTO youtube_videos (\n    youtube_video_id,\n    youtube_channel_id,\n    title,\n    description,\n    category_id,\n    live_broadcast_content,\n    published_at,\n    views,\n    likes,\n    favorites,\n    comments,\n    duration,\n    is_live,\n    tags\n)\nVALUES (\n    '${youtube_id}',\n    '${youtube_channel_id}',\n    '${title}',\n    '${description}',\n    '${category_id}',\n    '${live_broadcast_content}',\n    '${published_at}',\n    ${views},\n    ${likes:isEmpty():ifElse(\"CAST(NULL AS INTEGER)\", ${likes})},\n    ${favorites:isEmpty():ifElse(\"CAST(NULL AS INTEGER)\", ${favorites})},\n    ${comments:isEmpty():ifElse(\"CAST(NULL AS INTEGER)\", ${comments})},\n    '${duration}',\n    ${is_live},\n    '${tags_string}'\n);","Database Connection Pooling Service":"7654fc78-7982-375f-a481-0a8eb422212a","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"9177bf7d-f688-3d20-b30b-1f4f7a1169cd","instanceIdentifier":"60dab8fc-237e-3a99-2b05-6fabd86bfa7c","name":"EvaluateJsonPath","comments":"","position":{"x":-1680.0,"y":-528.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","uploads_playlist":"$.uploads_playlist","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"uploads_playlist":{"name":"uploads_playlist","displayName":"uploads_playlist","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"5a3fb17e-f53b-35f9-939a-1c19c8c9da8d","instanceIdentifier":"a693175d-fea8-3f9d-ed89-77b930f169bf","name":"InvokeHTTP","comments":"","position":{"x":-2392.0,"y":64.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://www.googleapis.com/youtube/v3/playlistItems?part=contentDetails&playlistId=${uploads_playlist}&key=#{api_key}&maxResults=50&pageToken=${nextPageToken}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"96684003-2cb8-3da7-bc0e-6b8719add7a3","instanceIdentifier":"25f2b6cd-5b8e-3ed4-227a-a6b8cf631c93","name":"ExecuteSQL","comments":"","position":{"x":-1696.0,"y":-1248.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"select distinct(uploads_playlist) from youtube_channels;","Database Connection Pooling Service":"7654fc78-7982-375f-a481-0a8eb422212a","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 30 0 * * ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"ca88a3f3-2612-37d5-98f7-f9d0db1653fa","instanceIdentifier":"bd0f5d30-a41f-390a-91be-8cc6cf963f33","name":"EvaluateJsonPath","comments":"","position":{"x":-1696.0,"y":2064.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"favorites":"$.favorites","Destination":"flowfile-attribute","comments":"$.comments","Max String Length":"20 MB","youtube_channel_id":"$.youtube_channel_id","Return Type":"auto-detect","description":"$.description","Null Value Representation":"empty string","title":"$.title","youtube_id":"$.youtube_id","Path Not Found Behavior":"ignore","tags":"$.tags_string","duration":"$.duration","category_id":"$.category_id","published_at":"$.published_at","live_broadcast_content":"$.live_broadcast_content","tags_string":"$.tags_string","views":"$.views","likes":"$.likes"},"propertyDescriptors":{"favorites":{"name":"favorites","displayName":"favorites","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"comments":{"name":"comments","displayName":"comments","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"youtube_channel_id":{"name":"youtube_channel_id","displayName":"youtube_channel_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"title":{"name":"title","displayName":"title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"youtube_id":{"name":"youtube_id","displayName":"youtube_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tags":{"name":"tags","displayName":"tags","identifiesControllerService":false,"sensitive":false,"dynamic":true},"duration":{"name":"duration","displayName":"duration","identifiesControllerService":false,"sensitive":false,"dynamic":true},"category_id":{"name":"category_id","displayName":"category_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"published_at":{"name":"published_at","displayName":"published_at","identifiesControllerService":false,"sensitive":false,"dynamic":true},"live_broadcast_content":{"name":"live_broadcast_content","displayName":"live_broadcast_content","identifiesControllerService":false,"sensitive":false,"dynamic":true},"tags_string":{"name":"tags_string","displayName":"tags_string","identifiesControllerService":false,"sensitive":false,"dynamic":true},"views":{"name":"views","displayName":"views","identifiesControllerService":false,"sensitive":false,"dynamic":true},"likes":{"name":"likes","displayName":"likes","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","instanceIdentifier":"67a4510b-bf41-3002-33c7-e612c1e3d164","name":"ConvertRecord","comments":"","position":{"x":-1696.0,"y":-1016.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"8573c07a-35aa-3a72-bbd5-6d0fe3d3c511","Record Reader":"19ceac6a-240c-3880-a111-1b3710fa7759"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"9ed28d95-6bff-3f44-9642-9437d5e7aa26","instanceIdentifier":"97a45276-aea6-3c02-e340-e44a44833d82","name":"InvokeHTTP","comments":"","position":{"x":-1672.0,"y":920.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://www.googleapis.com/youtube/v3/videos?part=snippet,contentDetails,statistics&id=${video_id}&key=#{api_key}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"f47c17e0-c3a2-352c-8e93-e28e0e589c53","instanceIdentifier":"109fb195-0197-1000-7d20-96541190ad55","name":"ReplaceText","comments":"","position":{"x":-1696.0,"y":1832.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(\")(\")","Replacement Value":"$1N/A$2","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"8efbbb0a-5b1c-317c-83bd-ef5c68c35455","instanceIdentifier":"ffc3ab02-7797-30f6-de78-52630989418f","name":"EvaluateJsonPath","comments":"","position":{"x":-1664.0,"y":704.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","contentDetails_video_id":"$.contentDetails.videoId","Path Not Found Behavior":"ignore","video_id":"$.contentDetails.videoId"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"contentDetails_video_id":{"name":"contentDetails_video_id","displayName":"contentDetails_video_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"video_id":{"name":"video_id","displayName":"video_id","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"895baed3-2ccc-34ba-bab0-210603e1914e","instanceIdentifier":"d431913a-75ec-3a84-286f-e427fc7ac3c2","name":"SplitJson","comments":"","position":{"x":-1664.0,"y":488.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.items[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"62731a8d-e910-3d66-9a45-fbcbb249f57a","instanceIdentifier":"8af40d93-90e6-368b-fbf1-f9486590726f","name":"SplitJson","comments":"","position":{"x":-1696.0,"y":-784.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"c7cd11a4-2417-3da2-85f6-5674649cb951","instanceIdentifier":"16fb1351-0197-1000-0d6c-5241678f67c5","name":"UpdateAttribute","comments":"","position":{"x":-1696.0,"y":2296.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","is_live":"${live_broadcast_content:equals('live'):ifElse('true','false')}","description":"${description:replaceAll(\"'\", \"''\")}","Stateful Variables Initial Value":null,"title":"${title:replaceAll(\"'\", \"''\")}","tags_string":"${tags_string:replaceAll(\"'\", \"\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_live":{"name":"is_live","displayName":"is_live","identifiesControllerService":false,"sensitive":false,"dynamic":true},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"title":{"name":"title","displayName":"title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"tags_string":{"name":"tags_string","displayName":"tags_string","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"4e5c3fe5-492c-3fe8-b144-51420a21a273","instanceIdentifier":"2ca3c0c6-a7b2-3458-73d3-c0351605d2c5","name":"JoltTransformJSON","comments":"","position":{"x":-1688.0,"y":1576.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.4.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"tags_string\": \"=join(',', @(1,tags))\"\n    }\n  }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"b99fa203-e9e6-37a4-909b-5c871bc88145","instanceIdentifier":"82328ebb-377e-3eef-55a8-b7faa18b10ce","name":"EvaluateJsonPath","comments":"","position":{"x":-1672.0,"y":200.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","nextPageToken":"$.nextPageToken","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"nextPageToken":{"name":"nextPageToken","displayName":"nextPageToken","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"886cae40-1bd8-32c4-8b49-eef2e9d3ae62","instanceIdentifier":"d4d1ccba-4647-3770-37c2-da7fe050538b","name":"JoltTransformJSON","comments":"","position":{"x":-1688.0,"y":1128.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.4.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"items\": {\n        \"*\": {\n          \"id\": \"youtube_id\",\n          \"snippet\": {\n            \"channelId\": \"youtube_channel_id\",\n            \"title\": \"title\",\n            \"description\": \"description\",\n            \"tags\": \"tags\",\n            \"categoryId\": \"category_id\",\n            \"liveBroadcastContent\": \"live_broadcast_content\",\n            \"publishedAt\": \"published_at\"\n          },\n          \"statistics\": {\n            \"viewCount\": \"views\",\n            \"likeCount\": \"likes\",\n            \"favoriteCount\": \"favorites\",\n            \"commentCount\": \"comments\"\n          },\n          \"contentDetails\": {\n            \"duration\": \"duration\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"tags\": \"N/A\"\n    }\n  }\n]\n"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"76316f8b-f7cc-3393-8acf-7de70ccc3c09","instanceIdentifier":"9df1a812-4d4d-31d4-3b8d-8b26fcca96cc","name":"ReplaceText","comments":"","position":{"x":-1688.0,"y":1352.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(\\n|\\r|\\'\")","Replacement Value":" ","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"954d7a5e-7352-3627-bc46-f333696b3b1d","instanceIdentifier":"a864e1ff-0bd6-3b9c-511a-d612b72d796b","name":"RouteOnAttribute","comments":"","position":{"x":-2408.0,"y":352.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","has_next_page":"${nextPageToken:isNull():not():and(${nextPageToken:length():gt(0)})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"has_next_page":{"name":"has_next_page","displayName":"has_next_page","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"c2597881-85ef-3cb3-8769-1ec04a069ebc","instanceIdentifier":"bf2e9e61-dd23-35ab-df12-163447765d32","name":"InvokeHTTP","comments":"","position":{"x":-1688.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"${url}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"7aec2e5d-30aa-3057-975f-37513d2c87f5","instanceIdentifier":"6308fa5d-04e7-3045-019b-ff791f9a15f5","name":"UpdateAttribute","comments":"","position":{"x":-1688.0,"y":-256.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"url":"https://www.googleapis.com/youtube/v3/playlistItems?part=contentDetails&playlistId=${uploads_playlist}&maxResults=50&key=#{api_key}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"deeb97a1-4de7-35a8-b123-98acc480d368","instanceIdentifier":"4fee393e-3435-346b-51aa-ad9b19e0590c","name":"","source":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"SplitJson","comments":"","instanceIdentifier":"8af40d93-90e6-368b-fbf1-f9486590726f"},"destination":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"SplitJson","comments":"","instanceIdentifier":"8af40d93-90e6-368b-fbf1-f9486590726f"},"labelIndex":0,"zIndex":46,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1230.7994384765625,"y":-751.676513671875},{"x":-1230.7994384765625,"y":-701.676513671875}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"a932d2b4-914e-33a5-9239-44a49818a882","instanceIdentifier":"6e09c1b7-f20b-3fb8-1d9c-adce4c1c06db","name":"","source":{"id":"b99fa203-e9e6-37a4-909b-5c871bc88145","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"82328ebb-377e-3eef-55a8-b7faa18b10ce"},"destination":{"id":"b99fa203-e9e6-37a4-909b-5c871bc88145","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"82328ebb-377e-3eef-55a8-b7faa18b10ce"},"labelIndex":0,"zIndex":90,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1203.0,"y":239.0},{"x":-1203.0,"y":289.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"a006d54e-2afc-3712-8259-f7011634eb7b","instanceIdentifier":"7667e28e-44d6-3d57-c50f-4a63ddc9d155","name":"","source":{"id":"886cae40-1bd8-32c4-8b49-eef2e9d3ae62","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d4d1ccba-4647-3770-37c2-da7fe050538b"},"destination":{"id":"76316f8b-f7cc-3393-8acf-7de70ccc3c09","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ReplaceText","comments":"","instanceIdentifier":"9df1a812-4d4d-31d4-3b8d-8b26fcca96cc"},"labelIndex":0,"zIndex":81,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"ad16b678-0d65-3917-8322-4acbe94de5d2","instanceIdentifier":"4c1fc39f-77d4-338a-1f92-390abe9ff4f7","name":"","source":{"id":"9ed28d95-6bff-3f44-9642-9437d5e7aa26","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"InvokeHTTP","comments":"","instanceIdentifier":"97a45276-aea6-3c02-e340-e44a44833d82"},"destination":{"id":"886cae40-1bd8-32c4-8b49-eef2e9d3ae62","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d4d1ccba-4647-3770-37c2-da7fe050538b"},"labelIndex":0,"zIndex":70,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"ed3b404d-b134-374f-b6ed-5dbffc76d516","instanceIdentifier":"16e0a1a7-608b-3924-adc7-57242a35053a","name":"","source":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ExecuteSQL","comments":"","instanceIdentifier":"25f2b6cd-5b8e-3ed4-227a-a6b8cf631c93"},"destination":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ConvertRecord","comments":"","instanceIdentifier":"67a4510b-bf41-3002-33c7-e612c1e3d164"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"79aa643d-eced-37a5-9257-d81df8062cb0","instanceIdentifier":"4cb6efeb-5815-3003-1f97-8e9ca1dc7dbd","name":"","source":{"id":"5a3fb17e-f53b-35f9-939a-1c19c8c9da8d","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"InvokeHTTP","comments":"","instanceIdentifier":"a693175d-fea8-3f9d-ed89-77b930f169bf"},"destination":{"id":"b99fa203-e9e6-37a4-909b-5c871bc88145","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"82328ebb-377e-3eef-55a8-b7faa18b10ce"},"labelIndex":0,"zIndex":93,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"f217c2a5-e9b2-35b5-a7e4-ebe94d422234","instanceIdentifier":"0b8b76f5-6034-3be0-6f94-c68adac1bc84","name":"","source":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"InvokeHTTP","comments":"","instanceIdentifier":"bf2e9e61-dd23-35ab-df12-163447765d32"},"destination":{"id":"b99fa203-e9e6-37a4-909b-5c871bc88145","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"82328ebb-377e-3eef-55a8-b7faa18b10ce"},"labelIndex":0,"zIndex":86,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"c0c8bd35-8cbe-3861-ab7c-2eee4256b39e","instanceIdentifier":"471784b4-8db6-3ba8-e9a8-0faea095614c","name":"","source":{"id":"8efbbb0a-5b1c-317c-83bd-ef5c68c35455","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ffc3ab02-7797-30f6-de78-52630989418f"},"destination":{"id":"9ed28d95-6bff-3f44-9642-9437d5e7aa26","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"InvokeHTTP","comments":"","instanceIdentifier":"97a45276-aea6-3c02-e340-e44a44833d82"},"labelIndex":0,"zIndex":105,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"623388c2-5293-3fb6-b6a3-e6c529d0b487","instanceIdentifier":"0d500a8b-0197-1000-e602-0a737ca763e8","name":"","source":{"id":"76316f8b-f7cc-3393-8acf-7de70ccc3c09","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ReplaceText","comments":"","instanceIdentifier":"9df1a812-4d4d-31d4-3b8d-8b26fcca96cc"},"destination":{"id":"4e5c3fe5-492c-3fe8-b144-51420a21a273","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2ca3c0c6-a7b2-3458-73d3-c0351605d2c5"},"labelIndex":0,"zIndex":123,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"bfd694c0-5f81-3825-8bbe-31eee88af65c","instanceIdentifier":"691ad5b3-488c-3a34-6bad-aefc01bd6952","name":"","source":{"id":"954d7a5e-7352-3627-bc46-f333696b3b1d","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a864e1ff-0bd6-3b9c-511a-d612b72d796b"},"destination":{"id":"5a3fb17e-f53b-35f9-939a-1c19c8c9da8d","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"InvokeHTTP","comments":"","instanceIdentifier":"a693175d-fea8-3f9d-ed89-77b930f169bf"},"labelIndex":0,"zIndex":91,"selectedRelationships":["has_next_page"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"ca8cf4ae-0677-3aab-85c5-dbfebf43454f","instanceIdentifier":"10a0cdd3-0197-1000-dee7-4b02f998ebdb","name":"","source":{"id":"f47c17e0-c3a2-352c-8e93-e28e0e589c53","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ReplaceText","comments":"","instanceIdentifier":"109fb195-0197-1000-7d20-96541190ad55"},"destination":{"id":"ca88a3f3-2612-37d5-98f7-f9d0db1653fa","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bd0f5d30-a41f-390a-91be-8cc6cf963f33"},"labelIndex":0,"zIndex":125,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"21abb0f1-18d7-36c3-90a1-3516744ee3da","instanceIdentifier":"83624d9c-a0a9-3393-eebd-a2312967731d","name":"","source":{"id":"9ed28d95-6bff-3f44-9642-9437d5e7aa26","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"InvokeHTTP","comments":"","instanceIdentifier":"97a45276-aea6-3c02-e340-e44a44833d82"},"destination":{"id":"9ed28d95-6bff-3f44-9642-9437d5e7aa26","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"InvokeHTTP","comments":"","instanceIdentifier":"97a45276-aea6-3c02-e340-e44a44833d82"},"labelIndex":0,"zIndex":71,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1201.0,"y":959.0},{"x":-1201.0,"y":1009.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"a803e9cd-3f01-3686-a404-01ce5b3e6b71","instanceIdentifier":"77e2e1c3-e5a8-3d6e-8255-afc24c3999ef","name":"","source":{"id":"b99fa203-e9e6-37a4-909b-5c871bc88145","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"82328ebb-377e-3eef-55a8-b7faa18b10ce"},"destination":{"id":"895baed3-2ccc-34ba-bab0-210603e1914e","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"SplitJson","comments":"","instanceIdentifier":"d431913a-75ec-3a84-286f-e427fc7ac3c2"},"labelIndex":0,"zIndex":89,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"051fe2e0-d84f-36f8-b7e8-790f9e801af9","instanceIdentifier":"fdd02460-d664-36a9-2484-26c4c87ac1e1","name":"","source":{"id":"9177bf7d-f688-3d20-b30b-1f4f7a1169cd","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"60dab8fc-237e-3a99-2b05-6fabd86bfa7c"},"destination":{"id":"7aec2e5d-30aa-3057-975f-37513d2c87f5","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"UpdateAttribute","comments":"","instanceIdentifier":"6308fa5d-04e7-3045-019b-ff791f9a15f5"},"labelIndex":0,"zIndex":64,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"f1ecc81e-7142-3f6f-a04a-87b37c30f747","instanceIdentifier":"117f771e-0197-1000-cad9-e94a037c1077","name":"","source":{"id":"ca88a3f3-2612-37d5-98f7-f9d0db1653fa","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bd0f5d30-a41f-390a-91be-8cc6cf963f33"},"destination":{"id":"ca88a3f3-2612-37d5-98f7-f9d0db1653fa","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bd0f5d30-a41f-390a-91be-8cc6cf963f33"},"labelIndex":0,"zIndex":134,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1227.0,"y":2104.0},{"x":-1227.0,"y":2154.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"2f2d64d0-ad9f-3d6b-bda7-9a974fd909c6","instanceIdentifier":"d5d5a689-f8c0-3c7e-7156-201738506bad","name":"","source":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"SplitJson","comments":"","instanceIdentifier":"8af40d93-90e6-368b-fbf1-f9486590726f"},"destination":{"id":"9177bf7d-f688-3d20-b30b-1f4f7a1169cd","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"60dab8fc-237e-3a99-2b05-6fabd86bfa7c"},"labelIndex":0,"zIndex":61,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"81d075d5-2e8e-3d0c-93db-f1115c5da5d6","instanceIdentifier":"b8e8c34a-a96e-3df3-4ba3-e14e9d70682a","name":"","source":{"id":"886cae40-1bd8-32c4-8b49-eef2e9d3ae62","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d4d1ccba-4647-3770-37c2-da7fe050538b"},"destination":{"id":"886cae40-1bd8-32c4-8b49-eef2e9d3ae62","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d4d1ccba-4647-3770-37c2-da7fe050538b"},"labelIndex":0,"zIndex":97,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1223.0,"y":1166.0},{"x":-1223.0,"y":1216.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"43870ad9-6095-3991-ba47-0201df9c1926","instanceIdentifier":"edbfe87f-4a2d-34b9-a476-440f315d5ad6","name":"","source":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ConvertRecord","comments":"","instanceIdentifier":"67a4510b-bf41-3002-33c7-e612c1e3d164"},"destination":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ConvertRecord","comments":"","instanceIdentifier":"67a4510b-bf41-3002-33c7-e612c1e3d164"},"labelIndex":0,"zIndex":44,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1232.2171630859375,"y":-983.2315673828125},{"x":-1232.2171630859375,"y":-933.2315673828125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"6a0f41be-e1b2-3749-84ac-ed77bd8fdc34","instanceIdentifier":"715ba7c8-966f-3021-34f0-3c631aeb66cb","name":"","source":{"id":"b99fa203-e9e6-37a4-909b-5c871bc88145","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"82328ebb-377e-3eef-55a8-b7faa18b10ce"},"destination":{"id":"954d7a5e-7352-3627-bc46-f333696b3b1d","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a864e1ff-0bd6-3b9c-511a-d612b72d796b"},"labelIndex":0,"zIndex":88,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"4e7e2dc9-fcb6-3d7a-bfe9-472b64fa4ccf","instanceIdentifier":"29302624-53ed-301f-7780-17416c2a8a65","name":"","source":{"id":"4e5c3fe5-492c-3fe8-b144-51420a21a273","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2ca3c0c6-a7b2-3458-73d3-c0351605d2c5"},"destination":{"id":"f47c17e0-c3a2-352c-8e93-e28e0e589c53","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ReplaceText","comments":"","instanceIdentifier":"109fb195-0197-1000-7d20-96541190ad55"},"labelIndex":0,"zIndex":112,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"8e9829a3-daf3-3105-8b23-ee1657c1c7b4","instanceIdentifier":"17758b05-0197-1000-07e4-8abf25607352","name":"","source":{"id":"8d14ec05-73bd-31d9-b25e-5ce69f1bc7d4","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ExecuteSQL","comments":"","instanceIdentifier":"16ff4f9c-0197-1000-62bf-1a0d341df3c0"},"destination":{"id":"8d14ec05-73bd-31d9-b25e-5ce69f1bc7d4","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ExecuteSQL","comments":"","instanceIdentifier":"16ff4f9c-0197-1000-62bf-1a0d341df3c0"},"labelIndex":0,"zIndex":142,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1233.1978759765625,"y":2606.508056640625},{"x":-1233.1978759765625,"y":2656.508056640625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"23195169-4c05-3d65-98a9-82ec04c1fc7f","instanceIdentifier":"1195b6fa-0197-1000-37e0-dd113db8e52c","name":"","source":{"id":"5a3fb17e-f53b-35f9-939a-1c19c8c9da8d","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"InvokeHTTP","comments":"","instanceIdentifier":"a693175d-fea8-3f9d-ed89-77b930f169bf"},"destination":{"id":"5a3fb17e-f53b-35f9-939a-1c19c8c9da8d","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"InvokeHTTP","comments":"","instanceIdentifier":"a693175d-fea8-3f9d-ed89-77b930f169bf"},"labelIndex":0,"zIndex":135,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1923.0,"y":103.0},{"x":-1923.0,"y":153.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"dee0d8c6-2e21-365f-bc73-cb75b43b129d","instanceIdentifier":"16fe7d28-0197-1000-9246-865438a8ec15","name":"","source":{"id":"c7cd11a4-2417-3da2-85f6-5674649cb951","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"UpdateAttribute","comments":"","instanceIdentifier":"16fb1351-0197-1000-0d6c-5241678f67c5"},"destination":{"id":"8d14ec05-73bd-31d9-b25e-5ce69f1bc7d4","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ExecuteSQL","comments":"","instanceIdentifier":"16ff4f9c-0197-1000-62bf-1a0d341df3c0"},"labelIndex":0,"zIndex":140,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"eb34f043-cb52-3bee-aea4-24d3079c88cd","instanceIdentifier":"7d0029fa-19ff-376d-72d5-0ae567ceb950","name":"","source":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ExecuteSQL","comments":"","instanceIdentifier":"25f2b6cd-5b8e-3ed4-227a-a6b8cf631c93"},"destination":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ExecuteSQL","comments":"","instanceIdentifier":"25f2b6cd-5b8e-3ed4-227a-a6b8cf631c93"},"labelIndex":0,"zIndex":43,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1218.6169128417969,"y":-1208.620361328125},{"x":-1218.6169128417969,"y":-1158.620361328125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"0fc68c3a-2351-349e-a36e-95e416c341b5","instanceIdentifier":"62d9ec35-d452-3d3c-efe3-aec828108ffa","name":"","source":{"id":"76316f8b-f7cc-3393-8acf-7de70ccc3c09","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ReplaceText","comments":"","instanceIdentifier":"9df1a812-4d4d-31d4-3b8d-8b26fcca96cc"},"destination":{"id":"76316f8b-f7cc-3393-8acf-7de70ccc3c09","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ReplaceText","comments":"","instanceIdentifier":"9df1a812-4d4d-31d4-3b8d-8b26fcca96cc"},"labelIndex":0,"zIndex":98,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1221.0,"y":1389.0},{"x":-1221.0,"y":1439.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"2116e669-9b28-394a-ac1f-b87399cbe4bc","instanceIdentifier":"bcf759f9-e3f8-31d3-84e0-f68aa05a580f","name":"","source":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ConvertRecord","comments":"","instanceIdentifier":"67a4510b-bf41-3002-33c7-e612c1e3d164"},"destination":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"SplitJson","comments":"","instanceIdentifier":"8af40d93-90e6-368b-fbf1-f9486590726f"},"labelIndex":0,"zIndex":27,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"61390d37-0556-3536-9ae3-babd6c2d608c","instanceIdentifier":"558228f8-1b31-3505-3a55-cce1946b5a26","name":"","source":{"id":"ca88a3f3-2612-37d5-98f7-f9d0db1653fa","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bd0f5d30-a41f-390a-91be-8cc6cf963f33"},"destination":{"id":"c7cd11a4-2417-3da2-85f6-5674649cb951","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"UpdateAttribute","comments":"","instanceIdentifier":"16fb1351-0197-1000-0d6c-5241678f67c5"},"labelIndex":0,"zIndex":102,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"41991340-93f3-3719-b5b9-a6b21ce1e762","instanceIdentifier":"3bb09c2e-df80-35a9-7743-04b037d9fb45","name":"","source":{"id":"895baed3-2ccc-34ba-bab0-210603e1914e","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"SplitJson","comments":"","instanceIdentifier":"d431913a-75ec-3a84-286f-e427fc7ac3c2"},"destination":{"id":"8efbbb0a-5b1c-317c-83bd-ef5c68c35455","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ffc3ab02-7797-30f6-de78-52630989418f"},"labelIndex":0,"zIndex":119,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"6b29736e-5181-3f37-a587-679ffa035374","instanceIdentifier":"0d43a26c-0197-1000-3acf-1b6ec672cc71","name":"","source":{"id":"4e5c3fe5-492c-3fe8-b144-51420a21a273","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2ca3c0c6-a7b2-3458-73d3-c0351605d2c5"},"destination":{"id":"4e5c3fe5-492c-3fe8-b144-51420a21a273","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2ca3c0c6-a7b2-3458-73d3-c0351605d2c5"},"labelIndex":0,"zIndex":122,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1228.563232421875,"y":1619.322021484375},{"x":-1228.563232421875,"y":1669.322021484375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"7c2e4ec4-3a6a-30cb-9869-96b60b442f06","instanceIdentifier":"7237e98f-b29b-35cd-34d1-82ac9cfc76c6","name":"","source":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"InvokeHTTP","comments":"","instanceIdentifier":"bf2e9e61-dd23-35ab-df12-163447765d32"},"destination":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"InvokeHTTP","comments":"","instanceIdentifier":"bf2e9e61-dd23-35ab-df12-163447765d32"},"labelIndex":0,"zIndex":96,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1219.0,"y":7.0},{"x":-1219.0,"y":57.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"6b518ba6-14b5-3a69-82c6-875092568588","instanceIdentifier":"64f92263-e943-3f4c-07ce-70237c675c23","name":"","source":{"id":"7aec2e5d-30aa-3057-975f-37513d2c87f5","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"UpdateAttribute","comments":"","instanceIdentifier":"6308fa5d-04e7-3045-019b-ff791f9a15f5"},"destination":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"InvokeHTTP","comments":"","instanceIdentifier":"bf2e9e61-dd23-35ab-df12-163447765d32"},"labelIndex":0,"zIndex":33,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"a89cf7e4-f530-3d36-a062-e2a5c61e779b","instanceIdentifier":"10a1257c-0197-1000-f4a1-ce45c23c1d6b","name":"","source":{"id":"f47c17e0-c3a2-352c-8e93-e28e0e589c53","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ReplaceText","comments":"","instanceIdentifier":"109fb195-0197-1000-7d20-96541190ad55"},"destination":{"id":"f47c17e0-c3a2-352c-8e93-e28e0e589c53","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"ReplaceText","comments":"","instanceIdentifier":"109fb195-0197-1000-7d20-96541190ad55"},"labelIndex":0,"zIndex":126,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1232.7308349609375,"y":1871.0579833984375},{"x":-1232.7308349609375,"y":1921.0579833984375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"f4f3bb92-1f31-3b37-86f4-f138390d731b","instanceIdentifier":"fd46c6f9-1e5c-3f1e-5aa1-cc412dc54644","name":"","source":{"id":"8efbbb0a-5b1c-317c-83bd-ef5c68c35455","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ffc3ab02-7797-30f6-de78-52630989418f"},"destination":{"id":"8efbbb0a-5b1c-317c-83bd-ef5c68c35455","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ffc3ab02-7797-30f6-de78-52630989418f"},"labelIndex":0,"zIndex":106,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1195.0,"y":743.0},{"x":-1195.0,"y":793.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"9125e46c-6b8b-31ac-9d14-a51ab42476e1","instanceIdentifier":"a86b06c6-e719-340e-a0a7-43c82eafbf0d","name":"","source":{"id":"9177bf7d-f688-3d20-b30b-1f4f7a1169cd","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"60dab8fc-237e-3a99-2b05-6fabd86bfa7c"},"destination":{"id":"9177bf7d-f688-3d20-b30b-1f4f7a1169cd","type":"PROCESSOR","groupId":"60f81657-85bf-38f7-8124-bbf3f7038bdf","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"60dab8fc-237e-3a99-2b05-6fabd86bfa7c"},"labelIndex":0,"zIndex":72,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1207.7897338867188,"y":-493.4829406738281},{"x":-1207.7897338867188,"y":-443.4829406738281}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7654fc78-7982-375f-a481-0a8eb422212a","instanceIdentifier":"ae9fcae6-daec-3de6-ea10-28ad86847284","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.4.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://#{Host}:#{Port}/#{DB_name}?ssl=false","dbcp-time-between-eviction-runs":"-1","Database User":"#{User}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/Users/akhilreddy/Downloads/nifi-2.4.0/db/postgresql-42.7.5.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"8573c07a-35aa-3a72-bbd5-6d0fe3d3c511","instanceIdentifier":"bfb25afd-8431-3f95-6fc3-f59317341b01","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"5d2c0c19-6683-3e28-882d-f29aa981ad83","instanceIdentifier":"6e02c35e-ec37-3d03-5c53-83d76e82ab54","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"},{"identifier":"19ceac6a-240c-3880-a111-1b3710fa7759","instanceIdentifier":"d3a15dfd-9c24-3152-ccf5-0d01915556ff","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"60f81657-85bf-38f7-8124-bbf3f7038bdf"}],"parameterContextName":"HitscanParameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{"Youtube API key":{"name":"Youtube API key","parameters":[{"name":"api_key","description":"","sensitive":false,"provided":false,"value":"AIzaSyBN-Qyz87SCOA8F5PNdbqrBT-Tb_1FHYCY"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"},"HitscanParameters":{"name":"HitscanParameters","parameters":[{"name":"User","description":"","sensitive":false,"provided":false,"value":"stage-user"},{"name":"Host","description":"","sensitive":false,"provided":false,"value":"staging-redshift.ciqb81brdshb.us-west-2.redshift.amazonaws.com"},{"name":"Port","description":"","sensitive":false,"provided":false,"value":"5439"},{"name":"Record Reader","description":"","sensitive":false,"provided":false,"value":"JsonTreeReader"},{"name":"DB_name","description":"","sensitive":false,"provided":false,"value":"stage"}],"inheritedParameterContexts":["Youtube API key"],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}