data-pipelines/Youtube_channels_processor.json
{"flowContents":{"identifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67","instanceIdentifier":"0b85db2d-0197-1000-1136-dd44c3501e06","name":"Youtube_channels_processor","comments":"","position":{"x":968.0,"y":248.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"96684003-2cb8-3da7-bc0e-6b8719add7a3","instanceIdentifier":"573c7c24-3b0b-300c-732d-7ec3fded920c","name":"ExecuteSQL","comments":"","position":{"x":-1728.0,"y":-1008.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"${sql.query}","Database Connection Pooling Service":"7654fc78-7982-375f-a481-0a8eb422212a","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"2815a797-51b3-34b0-9188-99680da28c02","instanceIdentifier":"40fe300c-22d6-3f87-b09b-e7331d612846","name":"JoltTransformJSON","comments":"","position":{"x":-1752.0,"y":192.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.4.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"items\": {\n        \"*\": {\n          \"id\": \"youtube_id\",\n          \"snippet\": {\n            \"title\": \"title\",\n            \"description\": \"description\",\n            \"publishedAt\": \"youtube_created_at\",\n            \"country\": \"country\"\n          },\n          \"statistics\": {\n            \"viewCount\": \"views\",\n            \"subscriberCount\": \"subscribers\",\n            \"videoCount\": \"videos\"\n          },\n          \"contentDetails\": {\n            \"relatedPlaylists\": {\n              \"uploads\": \"uploads_playlist\"\n            }\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"country\": \"N/A\",\n      \"uploads_playlist\": \"N/A\"\n    }\n  }\n]\n"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","instanceIdentifier":"18164807-7e43-33a6-2dd1-3a2743f8e0cd","name":"ConvertRecord","comments":"","position":{"x":-1736.0,"y":-824.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"8573c07a-35aa-3a72-bbd5-6d0fe3d3c511","Record Reader":"19ceac6a-240c-3880-a111-1b3710fa7759"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"6f922fe6-3155-3362-88ac-3addf4a7c8d3","instanceIdentifier":"61a680ef-4e6d-3fc4-a72d-20a67c76e70e","name":"ExtractText","comments":"","position":{"x":-1728.0,"y":-1192.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","sql.query":"(?s)(.*)","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql.query":{"name":"sql.query","displayName":"sql.query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"c20d9d48-883c-3f39-8da7-259614145012","instanceIdentifier":"22335bf3-29dc-31e0-9032-78241ab42689","name":"EvaluateJsonPath","comments":"","position":{"x":-1768.0,"y":384.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","country":"$.country","Max String Length":"20 MB","subscribers":"$.subscribers","Return Type":"json","uploads_playlist":"$.uploads_playlist","youtube_created_at":"$.youtube_created_at","description":"$.description","Null Value Representation":"empty string","videos":"$.videos","title":"$.title","youtube_id":"$.youtube_id","Path Not Found Behavior":"ignore","views":"$.views"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"country":{"name":"country","displayName":"country","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"subscribers":{"name":"subscribers","displayName":"subscribers","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"uploads_playlist":{"name":"uploads_playlist","displayName":"uploads_playlist","identifiesControllerService":false,"sensitive":false,"dynamic":true},"youtube_created_at":{"name":"youtube_created_at","displayName":"youtube_created_at","identifiesControllerService":false,"sensitive":false,"dynamic":true},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"videos":{"name":"videos","displayName":"videos","identifiesControllerService":false,"sensitive":false,"dynamic":true},"title":{"name":"title","displayName":"title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"youtube_id":{"name":"youtube_id","displayName":"youtube_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"views":{"name":"views","displayName":"views","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"62731a8d-e910-3d66-9a45-fbcbb249f57a","instanceIdentifier":"76465dfb-78b5-3edd-eb23-fb8d6f0d9f3d","name":"SplitJson","comments":"","position":{"x":-1752.0,"y":-624.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"f595b30d-d0f3-3d24-81c9-1774ccfd74a5","instanceIdentifier":"a4921dca-a7e6-39b6-31eb-f04537c4810d","name":"GenerateTableFetch","comments":"","position":{"x":-1728.0,"y":-1384.0},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"platforms","db-fetch-db-type":"Generic","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"7654fc78-7982-375f-a481-0a8eb422212a","gen-table-fetch-partition-size":"50","Columns to Return":"url","Maximum-value Columns":null,"db-fetch-where-clause":"type='youtube'","Database Dialect Service":null,"gen-table-column-for-val-partitioning":null},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 0 0 * * ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"bbab8155-2267-36c0-9368-87a840f7e106","instanceIdentifier":"2c7fa5a9-0122-310e-d56b-7c07a4956edb","name":"ExecuteSQL","comments":"","position":{"x":-1744.0,"y":1032.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"INSERT INTO youtube_channels (\n    youtube_channel_id,\n    title,\n    description,\n    youtube_created_at,\n    views,\n    subscribers,\n    videos,\n    uploads_playlist,\n    country\n)\nVALUES (\n    '${youtube_id}', \n    '${title}', \n    '${description}', \n    '${youtube_created_at}', \n    ${views}, \n    ${subscribers}, \n    ${videos}, \n    '${uploads_playlist}', \n    '${country}'\n);\n","Database Connection Pooling Service":"7654fc78-7982-375f-a481-0a8eb422212a","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"96f76b15-a313-3c67-b6c3-4ef22ef9e0a8","instanceIdentifier":"0e27d4b7-8ff3-30bd-6253-e2b928751454","name":"ReplaceText","comments":"","position":{"x":-1760.0,"y":568.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(\\n|\\r|\\')","Replacement Value":" \"","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"d67e924d-2a91-3c45-8b91-7865934031f6","instanceIdentifier":"e96f9c69-4c4f-398f-d511-55266e1b732c","name":"UpdateAttribute","comments":"","position":{"x":-1752.0,"y":768.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"country_clean":"${country:equals('N/A'):ifElse('NULL', \"'${country}'\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","description":"${description:replaceAll(\"'\", \"''\")}","Stateful Variables Initial Value":null,"uploads_playlist_clean":"${uploads_playlist:equals('N/A'):ifElse('NULL', \"'${uploads_playlist}'\")}"},"propertyDescriptors":{"country_clean":{"name":"country_clean","displayName":"country_clean","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"uploads_playlist_clean":{"name":"uploads_playlist_clean","displayName":"uploads_playlist_clean","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"36887732-7da4-3dc1-8eaa-a14fcee041fa","instanceIdentifier":"1d979233-f147-35d2-b2d2-99236d230e76","name":"ExtractText","comments":"","position":{"x":-1752.0,"y":-440.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","youtube.channelId":"\"url\"\\s*:\\s*\"https:\\/\\/www\\.youtube\\.com\\/channel\\/([^\"]+)\"","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"youtube.channelId":{"name":"youtube.channelId","displayName":"youtube.channelId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"c2597881-85ef-3cb3-8769-1ec04a069ebc","instanceIdentifier":"762b86ed-ed75-38dc-84ff-9f8d3bf64439","name":"InvokeHTTP","comments":"","position":{"x":-1752.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"${url}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"7aec2e5d-30aa-3057-975f-37513d2c87f5","instanceIdentifier":"9e6dcbba-3981-3209-13a5-e66dd8e10ea8","name":"UpdateAttribute","comments":"","position":{"x":-1752.0,"y":-248.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"url":"https://www.googleapis.com/youtube/v3/channels?part=snippet,statistics,contentDetails&id=${youtube.channelId}&key=AIzaSyCz7mEWTtpYlYp9COoa_DSX3DYoT9vX6wA"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"deeb97a1-4de7-35a8-b123-98acc480d368","instanceIdentifier":"997c9f51-d381-3b41-0d69-38e3a2d789bf","name":"","source":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"SplitJson","comments":"","instanceIdentifier":"76465dfb-78b5-3edd-eb23-fb8d6f0d9f3d"},"destination":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"SplitJson","comments":"","instanceIdentifier":"76465dfb-78b5-3edd-eb23-fb8d6f0d9f3d"},"labelIndex":0,"zIndex":46,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1283.0,"y":-584.0},{"x":-1283.0,"y":-534.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"5ba3c3c2-abae-3bbc-8a45-48436bd75a5c","instanceIdentifier":"62f0576b-6277-3ee6-4c66-f2fa74e93731","name":"","source":{"id":"96f76b15-a313-3c67-b6c3-4ef22ef9e0a8","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ReplaceText","comments":"","instanceIdentifier":"0e27d4b7-8ff3-30bd-6253-e2b928751454"},"destination":{"id":"d67e924d-2a91-3c45-8b91-7865934031f6","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"UpdateAttribute","comments":"","instanceIdentifier":"e96f9c69-4c4f-398f-d511-55266e1b732c"},"labelIndex":0,"zIndex":54,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"eb34f043-cb52-3bee-aea4-24d3079c88cd","instanceIdentifier":"00a89eab-46f9-3cb3-d0fd-e495f08fdc24","name":"","source":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExecuteSQL","comments":"","instanceIdentifier":"573c7c24-3b0b-300c-732d-7ec3fded920c"},"destination":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExecuteSQL","comments":"","instanceIdentifier":"573c7c24-3b0b-300c-732d-7ec3fded920c"},"labelIndex":0,"zIndex":43,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1258.1906433105469,"y":-967.7317504882812},{"x":-1258.1906433105469,"y":-917.7317504882812}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"fd30af22-0aea-3742-b8cd-27b68d7805a1","instanceIdentifier":"a10fbc8d-708b-3824-5548-a2e5342c686c","name":"","source":{"id":"d67e924d-2a91-3c45-8b91-7865934031f6","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"UpdateAttribute","comments":"","instanceIdentifier":"e96f9c69-4c4f-398f-d511-55266e1b732c"},"destination":{"id":"bbab8155-2267-36c0-9368-87a840f7e106","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExecuteSQL","comments":"","instanceIdentifier":"2c7fa5a9-0122-310e-d56b-7c07a4956edb"},"labelIndex":0,"zIndex":55,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"5c0d3eed-15cd-3b9d-9ca4-76b3dd602e3b","instanceIdentifier":"94515520-567a-3be0-7ac5-5b73908275bc","name":"","source":{"id":"f595b30d-d0f3-3d24-81c9-1774ccfd74a5","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"GenerateTableFetch","comments":"","instanceIdentifier":"a4921dca-a7e6-39b6-31eb-f04537c4810d"},"destination":{"id":"6f922fe6-3155-3362-88ac-3addf4a7c8d3","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExtractText","comments":"","instanceIdentifier":"61a680ef-4e6d-3fc4-a72d-20a67c76e70e"},"labelIndex":0,"zIndex":21,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"ed3b404d-b134-374f-b6ed-5dbffc76d516","instanceIdentifier":"6c5267a7-5732-3e3e-c950-b7348b1feeb8","name":"","source":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExecuteSQL","comments":"","instanceIdentifier":"573c7c24-3b0b-300c-732d-7ec3fded920c"},"destination":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ConvertRecord","comments":"","instanceIdentifier":"18164807-7e43-33a6-2dd1-3a2743f8e0cd"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"2116e669-9b28-394a-ac1f-b87399cbe4bc","instanceIdentifier":"01ad99cd-b6b2-399a-1770-f0e636a92e1a","name":"","source":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ConvertRecord","comments":"","instanceIdentifier":"18164807-7e43-33a6-2dd1-3a2743f8e0cd"},"destination":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"SplitJson","comments":"","instanceIdentifier":"76465dfb-78b5-3edd-eb23-fb8d6f0d9f3d"},"labelIndex":0,"zIndex":27,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"d90c5198-932c-37da-b16f-ff0154997d7d","instanceIdentifier":"da50ce81-d720-328c-727d-368417ea94b4","name":"","source":{"id":"2815a797-51b3-34b0-9188-99680da28c02","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"JoltTransformJSON","comments":"","instanceIdentifier":"40fe300c-22d6-3f87-b09b-e7331d612846"},"destination":{"id":"c20d9d48-883c-3f39-8da7-259614145012","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"22335bf3-29dc-31e0-9032-78241ab42689"},"labelIndex":0,"zIndex":47,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"b8ca7a21-45b4-3518-9c86-6fbaed8a0bef","instanceIdentifier":"911457f6-36fc-3476-2209-a3fd50bc9e01","name":"","source":{"id":"2815a797-51b3-34b0-9188-99680da28c02","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"JoltTransformJSON","comments":"","instanceIdentifier":"40fe300c-22d6-3f87-b09b-e7331d612846"},"destination":{"id":"2815a797-51b3-34b0-9188-99680da28c02","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"JoltTransformJSON","comments":"","instanceIdentifier":"40fe300c-22d6-3f87-b09b-e7331d612846"},"labelIndex":0,"zIndex":48,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1283.0,"y":231.0},{"x":-1283.0,"y":281.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"7eb51380-6442-30ff-9364-1d266a2234fb","instanceIdentifier":"1a7ec971-77f9-3c2a-b58f-dcb23e643025","name":"","source":{"id":"36887732-7da4-3dc1-8eaa-a14fcee041fa","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExtractText","comments":"","instanceIdentifier":"1d979233-f147-35d2-b2d2-99236d230e76"},"destination":{"id":"7aec2e5d-30aa-3057-975f-37513d2c87f5","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"UpdateAttribute","comments":"","instanceIdentifier":"9e6dcbba-3981-3209-13a5-e66dd8e10ea8"},"labelIndex":0,"zIndex":31,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"8596bc4b-71e8-3571-88ae-069055630a14","instanceIdentifier":"d0614eda-c304-31b6-fd26-d86e67edc09d","name":"","source":{"id":"36887732-7da4-3dc1-8eaa-a14fcee041fa","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExtractText","comments":"","instanceIdentifier":"1d979233-f147-35d2-b2d2-99236d230e76"},"destination":{"id":"36887732-7da4-3dc1-8eaa-a14fcee041fa","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExtractText","comments":"","instanceIdentifier":"1d979233-f147-35d2-b2d2-99236d230e76"},"labelIndex":0,"zIndex":45,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1283.0,"y":-401.0},{"x":-1283.0,"y":-351.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"7ebe991e-471e-3411-9592-b2b75f09df2a","instanceIdentifier":"c862eaa2-4b2d-3767-83ba-6054bacc70a5","name":"","source":{"id":"c20d9d48-883c-3f39-8da7-259614145012","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"22335bf3-29dc-31e0-9032-78241ab42689"},"destination":{"id":"c20d9d48-883c-3f39-8da7-259614145012","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"22335bf3-29dc-31e0-9032-78241ab42689"},"labelIndex":0,"zIndex":50,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1299.0,"y":423.0},{"x":-1299.0,"y":473.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"8440c96f-efad-3bf4-8938-005a4d5dea41","instanceIdentifier":"5cd02482-4937-38db-4c36-daacfbdf66c6","name":"","source":{"id":"96f76b15-a313-3c67-b6c3-4ef22ef9e0a8","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ReplaceText","comments":"","instanceIdentifier":"0e27d4b7-8ff3-30bd-6253-e2b928751454"},"destination":{"id":"96f76b15-a313-3c67-b6c3-4ef22ef9e0a8","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ReplaceText","comments":"","instanceIdentifier":"0e27d4b7-8ff3-30bd-6253-e2b928751454"},"labelIndex":0,"zIndex":53,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1295.0,"y":610.0},{"x":-1295.0,"y":660.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"43870ad9-6095-3991-ba47-0201df9c1926","instanceIdentifier":"8b21d279-9252-315d-8493-cb0b82d83b04","name":"","source":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ConvertRecord","comments":"","instanceIdentifier":"18164807-7e43-33a6-2dd1-3a2743f8e0cd"},"destination":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ConvertRecord","comments":"","instanceIdentifier":"18164807-7e43-33a6-2dd1-3a2743f8e0cd"},"labelIndex":0,"zIndex":44,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1269.0,"y":-788.0},{"x":-1269.0,"y":-738.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"2c8a8b64-cedd-3ea8-886e-a354c30f2262","instanceIdentifier":"0031194f-14f0-3677-1420-d63aed638d46","name":"","source":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"InvokeHTTP","comments":"","instanceIdentifier":"762b86ed-ed75-38dc-84ff-9f8d3bf64439"},"destination":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"InvokeHTTP","comments":"","instanceIdentifier":"762b86ed-ed75-38dc-84ff-9f8d3bf64439"},"labelIndex":0,"zIndex":41,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1270.7542724609375,"y":13.705562591552734},{"x":-1270.7542724609375,"y":63.705562591552734}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"2d10f085-b99e-39c0-b2ae-8ad103597475","instanceIdentifier":"be97029d-6e15-3037-a9d2-e15868836124","name":"","source":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"InvokeHTTP","comments":"","instanceIdentifier":"762b86ed-ed75-38dc-84ff-9f8d3bf64439"},"destination":{"id":"2815a797-51b3-34b0-9188-99680da28c02","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"JoltTransformJSON","comments":"","instanceIdentifier":"40fe300c-22d6-3f87-b09b-e7331d612846"},"labelIndex":0,"zIndex":60,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"1afe8d75-ae99-3702-98d5-7a5ca71bac5d","instanceIdentifier":"9e243875-e050-3b29-9652-f5171ffa159b","name":"","source":{"id":"7aec2e5d-30aa-3057-975f-37513d2c87f5","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"UpdateAttribute","comments":"","instanceIdentifier":"9e6dcbba-3981-3209-13a5-e66dd8e10ea8"},"destination":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"InvokeHTTP","comments":"","instanceIdentifier":"762b86ed-ed75-38dc-84ff-9f8d3bf64439"},"labelIndex":0,"zIndex":61,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"d85542a0-7290-3803-8a07-ddbc8be66e21","instanceIdentifier":"3b2193e4-b1f7-31bb-73da-345c75e72965","name":"","source":{"id":"6f922fe6-3155-3362-88ac-3addf4a7c8d3","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExtractText","comments":"","instanceIdentifier":"61a680ef-4e6d-3fc4-a72d-20a67c76e70e"},"destination":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExecuteSQL","comments":"","instanceIdentifier":"573c7c24-3b0b-300c-732d-7ec3fded920c"},"labelIndex":0,"zIndex":22,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"64e64993-ed2c-3fbc-b5e8-d4c14db76912","instanceIdentifier":"16f05578-0197-1000-93a1-da6a367e1ebc","name":"","source":{"id":"bbab8155-2267-36c0-9368-87a840f7e106","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExecuteSQL","comments":"","instanceIdentifier":"2c7fa5a9-0122-310e-d56b-7c07a4956edb"},"destination":{"id":"bbab8155-2267-36c0-9368-87a840f7e106","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExecuteSQL","comments":"","instanceIdentifier":"2c7fa5a9-0122-310e-d56b-7c07a4956edb"},"labelIndex":0,"zIndex":64,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1274.5431518554688,"y":1065.4674072265625},{"x":-1274.5431518554688,"y":1115.4674072265625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"1cd0543a-9d35-3acb-af8f-16e8a6311e13","instanceIdentifier":"5b0e6c29-7208-3d34-a0fb-91b3c6f04f1f","name":"","source":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"SplitJson","comments":"","instanceIdentifier":"76465dfb-78b5-3edd-eb23-fb8d6f0d9f3d"},"destination":{"id":"36887732-7da4-3dc1-8eaa-a14fcee041fa","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ExtractText","comments":"","instanceIdentifier":"1d979233-f147-35d2-b2d2-99236d230e76"},"labelIndex":0,"zIndex":28,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"cea4b57a-82bc-3cef-a7cf-cc023f71bd8f","instanceIdentifier":"7ecbbfdd-cb99-3c4b-8eee-a85a289d37e6","name":"","source":{"id":"c20d9d48-883c-3f39-8da7-259614145012","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"22335bf3-29dc-31e0-9032-78241ab42689"},"destination":{"id":"96f76b15-a313-3c67-b6c3-4ef22ef9e0a8","type":"PROCESSOR","groupId":"c02952f3-d083-3de2-8d5c-7efd395f0b67","name":"ReplaceText","comments":"","instanceIdentifier":"0e27d4b7-8ff3-30bd-6253-e2b928751454"},"labelIndex":0,"zIndex":51,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7654fc78-7982-375f-a481-0a8eb422212a","instanceIdentifier":"69fd7e98-bcc5-3cfb-763d-fdd3ecfc27f8","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.4.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://#{Host}:#{Port}/#{DB_name}?ssl=false","dbcp-time-between-eviction-runs":"-1","Database User":"#{User}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/Users/akhilreddy/Downloads/nifi-2.4.0/db/postgresql-42.7.5.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"8573c07a-35aa-3a72-bbd5-6d0fe3d3c511","instanceIdentifier":"8b6b4049-5845-302c-0f54-ca1ffb291202","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"5d2c0c19-6683-3e28-882d-f29aa981ad83","instanceIdentifier":"932303b2-08fb-326b-86a9-e4f5cb159cb7","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"},{"identifier":"19ceac6a-240c-3880-a111-1b3710fa7759","instanceIdentifier":"1701ed70-1e21-3ac2-4289-ff94aa8129fe","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c02952f3-d083-3de2-8d5c-7efd395f0b67"}],"parameterContextName":"HitscanParameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{"Youtube API key":{"name":"Youtube API key","parameters":[{"name":"api_key","description":"","sensitive":false,"provided":false,"value":"AIzaSyBN-Qyz87SCOA8F5PNdbqrBT-Tb_1FHYCY"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"},"HitscanParameters":{"name":"HitscanParameters","parameters":[{"name":"User","description":"","sensitive":false,"provided":false,"value":"stage-user"},{"name":"Host","description":"","sensitive":false,"provided":false,"value":"staging-redshift.ciqb81brdshb.us-west-2.redshift.amazonaws.com"},{"name":"Port","description":"","sensitive":false,"provided":false,"value":"5439"},{"name":"Record Reader","description":"","sensitive":false,"provided":false,"value":"JsonTreeReader"},{"name":"DB_name","description":"","sensitive":false,"provided":false,"value":"stage"}],"inheritedParameterContexts":["Youtube API key"],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}